:root {
  --primary-color: hsl(245, 75%, 52%);
  --secondary-color: hsl(225, 100%, 94%);
  --light-blue: hsl(225, 100%, 98%);
  --gray: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --magenta: hsl(245, 67%, 62%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Red Hat Display";
  background: url("./images/pattern-background-desktop.svg") no-repeat;
  background-size: cover;
  background-position: center;
}
.container {
  background: var(--light-blue);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 430px;
}
.container .illust {
  border-radius: 15px 15px 0 0;
}
.container .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px;
}
.container .content h1 {
  color: var(--dark-blue);
  font-weight: 900;
  font-size: 32px;
}
.container .content .desc {
  text-align: center;
  color: var(--gray);
  font-size: 16px;
  line-height: 1.7;
  max-width: 285px;
  margin-bottom: 10px;
}
.container .content .plan {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--light-blue);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}
.container .content .plan .left-side {
  display: flex;
  align-items: center;
}
.container .content .plan .plan-type {
  color: var(--dark-blue);
  font-weight: 700;
  margin-left: 20px;
}
.container .content .plan .plan-type span {
  color: var(--gray);
  font-weight: normal;
  display: block;
}
.container .content .plan .change {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 16px;
}
.container .content .plan .change:hover {
  color: var(--magenta);
  text-decoration: none;
}
button {
  font-family: "Red Hat Display";
  font-size: 15px;
  cursor: pointer;
  border-radius: 10px;
  padding: 15px;
  font-weight: 900;
  border: none;
  width: 100%;
}
.proceed {
  color: var(--light-blue);
  background: var(--primary-color);
  box-shadow: 0 15px 15px rgba(56, 41, 224, 0.3);
  transition: all 0.3s ease;
}
.proceed:hover {
  background: var(--magenta);
}
.cancel {
  background: transparent;
  color: var(--gray);
  font-size: 14px;
  transition: all 0.3s ease;
}
.cancel:hover {
  color: var(--dark-blue);
}
@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 320px;
  }
  .container .content h1 {
    font-size: 27px;
  }
  .container .content .desc {
    font-size: 15px;
  }
  .container .content .plan {
    width: 100%;
  }
  .container .content .plan .left-side .plan-type {
    margin-right: 40px;
    margin-left: 10px;
  }
}
